@import '_fonts.scss';
@import '_variables.scss';
@import '_reset.scss';
@import '_libs.scss';
@import '_overall.scss';

@import 'templates/_multiSelect.scss';

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $dark;
	color: $white;
}

.main {
	padding: 30px 15px;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1300px) 1fr;
}

.form {
	grid-column: 2 / 3;
	// .form__fieldset
	&__fieldset {
		border: none;
		margin-bottom: 40px;
	}
	// .form__labels-wrapper
	&__labels-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: 30px;
		grid-row-gap: 40px;
	}
	// .form__legend
	&__legend {
		margin-bottom: 10px;
		color: $dark;
	}
	// .form__label
	&__label {
		color: #737373;
		position: relative;
		&--check {
			display: flex;
			align-items: center;
		}
	}
	// .form__input
	&__input {
		width: 100%;
		height: 65px;
		padding: 28px 20px 10px 20px;
		border: 1px solid #cfcfcf;
		color: $dark;
		font-size: 16px;
		transition: border-color 0.3s;
		&:focus,
		&:hover {
			border-color: $dark;
			& + .form__value {
				top: 10px;
				left: 15px;
			}
		}
		&--invalid {
			border-color: $error;
		}
	}
	// .form__checkbox
	&__checkbox {
		height: 15px;
		width: 15px;
		margin-right: 10px;
		transition: color 0.3s;
		cursor: pointer;
		&:focus,
		&:hover {
			& + .form__value {
				color: $dark;
			}
		}
	}
	// .form__value
	&__value {
		position: absolute;
		top: 15px;
		left: 21px;
		font-size: 12px;
		color: $grey;
		font-weight: 300;
		transition: top 0.2s, left 0.2s;
		&--check {
			position: static;
			font-size: 14px;
			font-weight: 400;
			cursor: pointer;
		}
	}
	// .form__error
	&__error {
		position: absolute;
		bottom: -15px;
		left: 10px;
		font-size: 12px;
		color: $error;
	}

	&__btn {
		display: block;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: $dark;
		color: $white;
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $dark;
	color: $white;
	font-size: 12px;
}

.tooltip {
	position: fixed;
	right: 40px;
	top: -150%;
	background-color: #444;
	color: $white;
	font-size: 14px;
	padding: 10px 15px;
	opacity: 0;
	transition: top 0.3s, opacity 0.3s;
	&--active {
		right: 40px;
		top: 70px;
		opacity: 1;
	}
}

@import '_media.scss';
